@font-face {font-family: 'MuseoSans-500';src: url('../fonts/2C534D_0_0.eot');src: url('../fonts/2C534D_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2C534D_0_0.woff2') format('woff2'),url('../fonts/2C534D_0_0.woff') format('woff'),url('../fonts/2C534D_0_0.ttf') format('truetype');}
@font-face {font-family: 'icomoon';	src:url('../fonts/icomoon.eot?lwfair');	src:url('../fonts/icomoon.eot?#iefixlwfair') format('embedded-opentype'),url('../fonts/icomoon.woff?lwfair') format('woff'),	url('../fonts/icomoon.ttf?lwfair') format('truetype'),	url('../fonts/icomoon.svg?lwfair#icomoon') format('svg');font-weight: normal;font-style: normal;}

html, body{min-height:100%;width:100%;padding:0;margin:0;}

*{font-family: MuseoSans-500, sans-serif;outline: none;}
*::selection{background-color:#f64667;color:#fff;}

[class^="icon-"], [class*=" icon-"] {font-family: 'icomoon', sans-serif;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;/* Better Font Rendering =========== */-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.icon-tag:before {content: "\e600";}
.icon-alarm:before {content: "\e601";}
.icon-user:before {content: "\e602";}
.icon-remove:before {content: "\e603";}
.icon-link:before {content: "\e604";}
.icon-star:before {content: "\e605";}
.icon-close:before {content: "\e606";}
.icon-plus:before {content: "\e607";}
.icon-stats:before {content: "\e608";}
.icon-bars:before {content: "\e609";}
.icon-search:before {content: "\e60a";}
.icon-percent:before {content: "%";font-family: MuseoSans-500, sans-serif;}

#DaboxHide{background:#fafafa;height:100%;width:100%;}
#DaboxHide,#Dabox{top:0;left:0;z-index:99;position:fixed;display:none;opacity:0;filter:alpha(opacity=0);}
#Dabox{left:50%;margin-top:150px;background:#ffffff;border-radius:3px;box-shadow: 0 1px 2px rgba(0, 0, 0, .15);}
#Dabox div.close{right:10px;top:10px;position:absolute;}
#Dabox div.close a{color:#a0a0a0;text-decoration: none;font-size:12px;transition:all .3s;}
#Dabox div.close a:hover{transform:rotate(90deg);color:#f64667;}

#Dabox #connect,#Dabox #register{padding:17px 30px 30px;}
#Dabox h4{	padding:0 0 13px;margin:0 0 25px;text-align: center;font-size:24px;	border-bottom:solid 1px #dadada;font-weight: normal;}

form input[type="text"], form input[type="password"]{width:192px;height:39px;padding:0 10px;border:solid 1px #cccccc;	border-radius: 5px;	outline: none;transition:border-color .3s;}
form input[type="text"]:focus, form input[type="password"]:focus{border-color:#23bbf3;}
form input[type="submit"]{background:#23bbf3;border:solid 1px #23bbf3;width:214px;height:41px;border-radius: 3px;color:#fff;	cursor: pointer;transition:all .3s;font-size:18px;}
form input[type="submit"]:hover{background:#fff;color:#23bbf3;}

body{margin:0;background:#fff;}

.tooltip{display:inline-block;padding:6px;color:#fff;background:#444;font-size:12px;position:absolute;z-index:999;pointer-events: none;top:0;left:0;opacity:0;}
.tooltip:after{position:absolute;top:100%;content:"";display:block;width:0;height:0;border-top:#444 solid 6px;border-right:6px transparent solid;border-left:6px transparent solid;left:50%;margin-left:-6px;}

body header{position:fixed;top:0;left:0;width:100%;height:61px;background:#fff;border-bottom:solid 1px #e6e6e6;overflow: hidden;z-index:97;}
body header>div{width:780px;margin:0 auto;}
body header>div h1{margin:0;padding:0;display:inline-block;height:61px;vertical-align: top;}
body header>div h1 a{display:inline-block;width:40px;height:61px;line-height:61px;background:url(../imgs/logo.png) no-repeat 0 center;font-size:24px;color:#575656;}
body header a{text-decoration: none;}
body header>div menu.main{margin-left:16px;}
body header>div menu{display:inline-block;margin:0;padding:0;list-style: none;height:61px;line-height:61px;}
body header>div menu li{padding:0;margin:0;display:block;float:left;height: 61px;vertical-align: top;line-height: 61px;}
body header>div menu.main li{border-right: solid 1px #f2f2f2; border-left:solid 1px #f2f2f2;}
body header>div menu.main li a{display:block;text-transform: uppercase;height:58px;border-bottom:solid 3px #fff;line-height: 58px;font-size:14px;color:#818181;font-weight:bold;padding:0 13px;transition:all .3s;margin:0;}
body header>div menu.main li a:hover{color:#f64667;border-bottom-color: #f64667;}
body header>div menu.secondary{float:right;padding-top:13px;}
body header>div menu.secondary li{margin-left:8px;line-height: 100%;}
body header>div menu.secondary li a{display:inline-block;width:31px;height:31px;line-height:31px;text-align: center;transition:all .3s;text-decoration: none;color:#818181;}
body header>div menu.secondary li a:hover{color:#f64667;}
body header>div menu.secondary li.notifications a.awaiting{font-size:19px;background:#23bbf3;font-weight:normal;font-style: normal;text-transform: none;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
body header>div menu.secondary li.notifications a.awaiting:hover{background:#f64667;}
body header>div menu.secondary li.notifications a.awaiting span{font-size:14px;color:#fff;}
body header.disconnected>div menu.secondary a{width:auto;}
.stick{position:fixed;left:50%;z-index:98;top:52px;width:100px;background:#fbfbfb;border:solid 1px #dcdcdc;transition:all .4s;box-shadow: 0 1px 2px rgba(0, 0, 0, .15);padding:0;}
.stick:before{content:"";position:absolute;left:50%;margin-left:-9px;background:url(../imgs/arrow_top_dropdown.png) no-repeat;height:9px;width:21px;margin-top:-9px;}
.stick.hidden{top:73px;opacity: 0;pointer-events: none;}
.stick li{border-top:solid 1px #dcdcdc;list-style: none;padding:0;}
.stick li:first-child{border-top:none;}
.stick li a{text-align: center;display:block;padding:13px 0 13px;color:#8e8e8e;transition:all .3s;text-decoration: none;}
.stick li a:hover{color:#23bbf3;}

#account_stick{margin:0 0 0 284px;}
#explore_stick{margin:0 0 0 -336px;}
#lists_stick{margin:0 0 0 -250px;}

.save{padding-top:145px;padding-bottom:45px;background:#f8f8f8;overflow:hidden;transition:all .8s;}
.save.hidden{margin-top:-330px;}
.save h3{font-size:30px;text-align: center;padding:0;margin:0 0 60px;color:#525252;}
.save form{width:780px;margin:0 auto;}
.save form .component{display:inline-block;vertical-align: top;}
.save form .component label{display:none;}
.save form .component input{border-radius: 0;font-size:24px;height:46px;}
.save form .component input[type="text"]{width:659px;border-color: #e6e6e6;height:44px;border-bottom-left-radius: 20px;border-top-left-radius: 20px;padding-left:20px;}
.save form .component input[type="text"]::-webkit-input-placeholder{color:#d4d6d7;}
.save form .component input[type="submit"]{width:88px;background:#fff;border-color: #e6e6e6;color:#818181;border-left:none;border-bottom-right-radius: 20px;border-top-right-radius: 20px;}
.save form .component input[type="submit"]:hover{color:#f64667;}
.save p{font-size:14px;text-align: center;color:#948b88;}
.save p a{color:#23bbf3;text-decoration: none;}

.content{padding-top:67px;}
.content>div{width:780px;margin:0 auto;}
.content{}
.content .links{}
.content .links .link{padding:5px 0;border-top:solid 1px #e6e6e6;position:relative;}
.content .links .link *{cursor:pointer;}
.content .links .link:first-of-type{border-top:none;}
.content .links .link:hover>div:first-child{background:#f8f8f8;}
.content .links .link>div{padding:7px;}
.content .links .link>div:after{content:"";clear:both;height: 0;display:block;}
.content .links .link .img{height:70px;width:55px;float:left;}
.content .links .link .img>div{background-size: 100%;background-repeat:no-repeat;background-position:center center;width: 100%;height: 100%;}
.content .links .link .details{width:547px;float:left;padding-left:17px;padding-top:12px;}
.content .links .link .details h2{font-size:18px;color:#948b88;margin:0 0 10px;}
.content .links .link .details .merchant{color:#bbbbbb;font-size:13px;text-decoration: none;}
.content .links .link .details .merchant img{display:inline-block;vertical-align: middle;height:16px;margin-right:5px;}
.content .links .link .price{float:right;width:146px;font-size:24px;color:#534540;text-align: right;padding-top:10px;}
.content .links .link .price.with_previous_price span{color:#8b8b8b;text-decoration: line-through;font-size:18px;display:block;margin-left:3px;}
.content .links .link .price.price_unavailable{font-size:14px;color: #a4a4a4;padding-top:20px;}
.content .links .link .hover{position:absolute;right:0;top:18px;opacity: 0;pointer-events: none;transition:all .4s;}
.content .links .link:hover .hover{opacity: 1;pointer-events: all;}
.content .links .link.open:hover .hover{opacity: 0;pointer-events: none;}
#details_products menu li.right a.buy, .content .links .link .hover a{color:#fff;display:inline-block;padding:11px;font-size:18px;text-decoration: none;border-radius:21px;transition:all .3s;border:solid 1px #fff;}
.content .links .link .hover a.coupons{background:#f64667;}
.content .links .link .hover a.coupons:hover{background:#fff;border-color: #f64667;color:#f64667;}
#details_products menu li.right a.buy, .content .links .link .hover a.buy{background:#23bbf3;}
#details_products menu li.right a.buy:hover, .content .links .link .hover a.buy:hover{background:#fff;color:#23bbf3;border-color: #23bbf3;}
#details_products menu li.right a.buy{margin-top:-5px;}
.content .links .link>div[id^="link_context"]{background:#fff;height:0;overflow:hidden;padding:0;}

.content.not_found{text-align:center;}

body>.content>div.home{text-align:center;}
body>.content>div.home h3{font-size:24px;font-weight: normal;width:70%;margin:20px auto;padding-bottom:15px;}
body>.content.s>div{width:840px;}
body>.content>div>.navigation{width:190px;float:left;}
body>.content>div>.navigation h3{margin:0;font-weight: normal;}
body>.content>div>.navigation menu{margin-top:20px;padding:18px 0 0;border-top:solid 1px #f5f5f5;list-style: none;}
body>.content>div>.navigation menu li{padding:12px 0;}
body>.content>div>.navigation menu li a{color:#a0a0a0;font-weight:bold;text-decoration: none;transition:color .3s;}
body>.content>div>.navigation menu li a.current, body>.content>.navigation menu li a:hover{color:#f64667;}
body>.content>div>.main{float:right;width:530px;padding: 0 60px;}
body>.content>div>.main .item{width:530px;margin:15px auto;}
body>.content>div>.main .item a{font-size:18px;line-height: 18px;color:#23bbf3;}
body>.content>div>.main .item a:hover{text-decoration: none;}
body>.content>div>.main .item p{font-size:16px;line-height:16px;color:#a0a0a0;margin:10px 0 30px;}
body>.content>div>.main h1{margin:0;font-size:24px;font-weight:normal;color:#3b3b3b;}
body>.content>div>.main p{color:#a6a6a6;font-size:16px;margin-bottom:10px;}
body>.content>div>.main a{color:#23bbf3;}
body>.content>div>.main a:hover{text-decoration: none;}
body>.content>div>.main form{}
body>.content>div>.main form .mandatory{font-size:14px;color:#a0a0a0;text-align: right;}
body>.content>div>.main form .component{margin-top:30px;}
body>.content>div>.main form label{color:#595959;font-size:18px;}
body>.content>div>.main form input[type="text"], body>.content>.main form input[type="password"]{width:270px;padding:0 10px;height:33px;}
body>.content>div>.main form input[type="submit"]{width:110px;}

#overlay_products,
#details_products{position:fixed;top:0;height:100%;z-index:999;}
#overlay_products{background:rgba(255, 255, 255, .7);width:100%;left:0;transition:opacity .7s;pointer-events: all;}
#overlay_products.hidden{opacity: 0;pointer-events: none;}
#details_products{background:#fff;box-shadow: 0 0 4px rgba(0, 0, 0, .3);width:700px;right:0;transition:all .7s;}
#details_products.hidden{right:-736px;}
#details_products .close{position:absolute;margin-top:25px;margin-left:-36px;}
#details_products .close a{cursor:pointer;color:#c1c1c1;padding:10px;transition:all .3s;border-bottom-left-radius: 5px;border-top-left-radius: 5px;}
#details_products .close:hover{}
#details_products .close:hover a{transform:rotate(90deg);}
#details_products div.title{background:#b2324b;padding:12px;}
#details_products div.title:after{content:"";clear:both;height:0;display:block;}
#details_products div.title .img{float:left;width:55px;height:70px;margin-right:17px;}
#details_products div.title .img.empty{background:#fff;}
#details_products div.title .img>div{background-size: 100%;background-repeat:no-repeat;background-position:center center;width: 100%;height: 100%;}
#details_products div.title .details{float:left;padding-top:14px;}
#details_products div.title .details h2{font-size:18px;color:#fff;margin:0 0 5px;}
#details_products div.title .details .merchant{color:#bbbbbb;font-size:13px;text-decoration: none;}
#details_products div.title .details .merchant img{display:inline-block;vertical-align: middle;height:16px;margin-right:5px;}
#details_products div.title .price{float:right;width:146px;font-size:24px;color:#fff;text-align: right;padding-top:12px;}
#details_products div.title .price.with_previous_price span{color:#b2a2a2;text-decoration: line-through;font-size:18px;display:block;margin-left:3px;}
#details_products menu{width:calc(100% - 32px);padding:14px 0 0 0;margin:0 auto;border-bottom:solid 1px #e6e6e6;}
#details_products menu:after{clear:both;content:"";display:block;height:0;}
#details_products menu li{float:left;padding:0;list-style: none;margin-right:14px;}
#details_products menu li a{display:inline-block;padding:13px 4px;color:#c1c1c1;cursor:pointer;text-decoration:none;}
#details_products menu li a.current, #details_products menu li a:hover{color:#b2324b;}
#details_products menu li.right{float:right;margin-right:0;margin-left:14px;}
#details_products menu li.right a{}
#details_products div.tabs{}
#details_products div.tabs>div{display:none;padding:16px;}
#details_products div.tabs>div.current{display:block;}
#details_products div.tabs>div.graph>div.stats{margin-top:60px;}
#details_products div.tabs>div.graph>div.stats>span{display:block;color:#C1C1C1;font-size:14px;text-align: center;}
#details_products div.tabs>div.graph>div.stats>span>span{display:block;color:#333333;font-size:16px;}
#details_products div.tabs>div.graph>div.stats>span.history{float:left;}
#details_products div.tabs>div.graph>div.stats>span.lowest,
#details_products div.tabs>div.graph>div.stats>span.highest,
#details_products div.tabs>div.graph>div.stats>span.average{float:right;margin-left:20px;}

.confirm-box{padding:17px 0;border:solid 1px #e2e2e2;border-radius:7px;text-align: center;width:200px;position:absolute;z-index:999;right:15px;overflow:hidden;display:none;}
.confirm-box:before{content:"";position:absolute;left:50%;margin-left:10px;background:url(../imgs/arrow_top_dropdown.png) no-repeat;height:9px;width:21px;margin-top:-9px;top:0;}
.confirm-box h1{font-size: 18px;padding: 0;margin: 0;margin-bottom: 10px;padding-bottom: 10px; border-bottom: solid 1px #e2e2e2;}

.sly-button{color:#fff;display:inline-block;padding:11px;font-size:18px;text-decoration: none;border-radius:21px;transition:all .3s;border:solid 1px #fff;background:#23bbf3;}
.sly-button:hover{background:#fff;color:#23bbf3;border-color: #23bbf3;}

.sly-button.nop{background:#F34664;}
.sly-button.nop:hover{background:#fff;color:#F34664;border-color: #F34664;}

body>.list>div{width:780px;margin:0 auto;}
body>.list>div.details{padding-top:40px;}
body>.list>div.details form p input[name="list[name_list]"], body>.list>div.details h2{font-size:24px;font-weight:bold;border:solid 1px transparent;outline:none;width:100%;text-align:center;transition:background-color .5s;}
body>.list>div.details form p input[name="list[name_list]"]:hover{border-color:#bbb;}
body>.list>div.details form p input[name="list[name_list]"]:focus{border-color:#444;}
body>.list>div.details form p input[name="list[name_list]"].error{background-color: rgba(255, 0, 0, .2);}
body>.list>div.details form p input[name="list[name_list]"].confirmation{background-color: rgba(0, 255, 0, .2);}
body>.list>div.details form p input[name="list[name_list]"].loading{background:#fff url('../imgs/loading.gif') no-repeat right center;}

body>.list .empty{font-size:18px;color:#aaa;text-align:center;padding-top:20px;}